<!doctype html>
<html ng-app="dashboard" ng-controller="dashCon">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="./js/dashboardcontroller.js"></script>
        <link rel="stylesheet" href="css/dashboard.css">
        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="./js/sidebarscript.js"></script>
        
        <title>Dashboard</title>
        
        <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>

    </head>
    <body>      
        
        <div id='cssmenu'>
            <ul>
                <li class='active has-sub'><a id="groupsButton" href='#'><span>Add/Remove Tags</span></a>
                    <ul>
                        <li class="last"><a>
                        <input id="searchbar" type="text" placeholder="Enter Tag Name" style="padding: 10px; border: 2px solid #ccc"></input>
                        <span ng-click="search()" style="float:right; margin-right:10px; padding-top: 5%;">Search Tag</span>
                        </a></li>
                        <li class="last" ng-click="clearTags()"><a><span>Clear Tags</span></a></li>
                    </ul>
                </li>                
                <li class='active has-sub'><a href='#'><span>Groups</span></a>
                    <ul>
                        <li class="last" ng-repeat="group in groupNames track by $index" ng-click="switchGroup(group, $index)">
                            <a><span>{{ group }}</span></a>
                        </li>
                    </ul>            
                </li>
                <li class='active has-sub' ng-click="dispMems()"><a href='#'><span>Members</span></a>
                    <ul>
                        <li class="last"><a>
                        <input id="membersearchbar" type="text" placeholder="Email" style="padding: 10px; border: 2px solid #ccc"></input>
                        <span ng-click="addmember()" style="float:right; margin-right:10px; padding-top: 5%;">Add Member</span>
                        </a></li>
                    </ul>
                    <ul>
                        <li class="last" ng-repeat="member in groupMemberNames track by $index" ng-click="rmMember(member, $index)">
                            <a><span>{{ member }}</span></a>
                        </li>
                    </ul>            
                </li>
                <li class='active has-sub'><a href='#'><span>View Tags</span></a>
                    <ul>          
                        <li class="last" ng-repeat="tag in allTags" ng-click="searchTag(tag)"><a><span>{{tag}}</span></a></li>
                        <li class="last" ng-click="clearTags()"><a><span>Clear Tags</span></a></li>
                    </ul>
                </li>
                <li class='active has-sub'><a href='#'><span>Account</span></a>
                    <ul>
                        <li class='last' id="logoutButton"><a><span>Sign Out</span></a></li>
                    </ul>
                </li>
                <li class='last'><a href='#'><span>Order</span></a></li>
                <li class='last' ng-click="download()"><a href='#'><span>Download</span></a></li>
            </ul>
            <br>        
            <div style="margin-bottom:50px">
                Currently Viewing Tags:
                <span ng-repeat="tag in currentTags">
                    {{tag}},
                </span>
            </div>   
    
        </div>    

        <div id="grid">
            <div ng-repeat="photo in photos" class="pr">
                <img ng-src="{{ photo.url }}" ng-click="alert(photo.url)" class="pi"></img>
                <div class="info">
                <p>{{ photo.title }}<br/>
                Tags: {{ photo.tagString }}<br/>
                </div>
                <div class="flag">
                    <img src="img/icons8-attention.png" class="flagimg" ng-click="flag(photo.url)"></img>
                </div>
            </div>
        </div>

    </body>

    <script src="js/dashboard.js"></script>
</html>
